ul.nav.nav-pills
  li(role='presentation').active: a(href='/') Home
  li(role='presentation'): a(href='faq') faq
  li(role='presentation'): a(href='about') about
  li(role='presentation'): a(href='contact') contact
